[Unit]
Description=Blockchain Service
After=network.target

[Service]
Type=simple
User=iiitd
WorkingDirectory=/home/iiitd/blockchain
ExecStart=/home/iiitd/blockchain/start_testnet.sh
Environment="PATH=/home/iiitd/.cargo/bin:/usr/local/bin:/usr/bin:/bin"
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target 